
.bodyclass {
    margin: 100px 50px 100px 50px;
    background-color: hsl(204, 38%, 83%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

img {
    width: 215px;
    height: 215px;
    border-radius: 23px;
    position:relative;
    top: 15px; 
    padding-left: 5px;
    padding-right: 5px;
}

h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Outfit;
    font-weight: 400;
}

p {
    font-size: 15px;
    font-family: Outfit;
    padding-left: 20px;
    padding-right: 20px;
}

.central {
   text-align: center;
    
}

.item {
    background-color: white;
    width: 245px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
        
}
